<section id="cta" class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-center text-black-61 pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.text }}
          <p class="text-black-61 pb-3">{{ . }}</p>
        {{ end }}
      </div>
    </div> -->
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        <a target="_blank" href="https://chrome.google.com/webstore/detail/limpiapuntes/ihdkfnamcdniglpjagfdpdaicfogjcle?hl=es">
          {{ with .content.image }}{{ partial "utilities/image-CWS.html" . }}{{ end }}
          <!-- <img style="width: auto"; height="120px" src="images/CWS-LB.png" alt="Chrome Web Store logo"> -->
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" target="_blank" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
